*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body{
    background-color: white;
    background-image: url(../image/fone/body-fone.jpg);
    background-size: cover;

    z-index: 1;
}

body::after{
  content: "";
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  
  z-index: 2;
}

.container{
    width: 1440px;
}

.fone{
    position: relative;
    width: 100%;
    background-color: black;
    padding: 0;
    margin: 0;

    z-index: 3;
    &-container{
        margin: 0 auto;
        width: 1440px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        .main-header{
            font-family: 'Imperial One Regular';
            font-size: 2em;
            font-style: normal;
            font-weight: normal;
            text-align: center;
            color: white;
            margin-top: 10px;
        }
        &-logo{
            width: 193px;
            height: 95px;
            display: flex;
            justify-content: center;
            .img-fone-logo{
                margin: 17px;
            }
            .kembibl{
                margin-top: 25px;
                width: 70px;
                height: 52px;
            }
            .info{
                width: 87px;
                height: 75px;
            }
        }
    }
}
    



